
@model Pens.Domain.Entities.Branch

@{
    ViewBag.Title = (Model.BranchID != 0) ? "Редактирование отделения" : "Новое отделение";    
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>


<div class="container">

    @using (Html.BeginForm("Edit", "Branches", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="">
            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.BranchID)
                               
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn-success" />
                        @Html.ActionLink("Вернуться к списку", "Index", null, new
                            {
                                @class = "btn btn-link"
                            })
                    </div>

                </div>
            </div>
        </div>
    }
</div>