@model IEnumerable<Pens.Domain.Entities.Price>

@{
    ViewBag.Title = "Прайс-лист";
}
<div class="page-header">
    <h2>Прайс-лист</h2>
</div>

<div class="container">
    @if (User.IsInRole("Administrators")) { 
    <div class="row">             
        <p>  @Html.ActionLink("Добавить услугу", "Create", null, new { @class = "btn btn-success" }) </p>
    </div>
    }
    <div class="row">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Код</th>
                <th class="text-center">Наименование</th>
                <th class="text-center">Цена по ОМС</th>
                <th class="text-center">Себестоимость<br />(руб)</th>
                @if (User.IsInRole("Administrators")) {
                <th class="text-center">Действие</th>
                }
            </tr>
            @foreach (var item in Model)
            {                   
                <tr @((item.IsActive)?"":"class=isDeleted") >                                          
                    <td class="text-center">@item.PriceID</td>
                    @if (User.IsInRole("Administrators")) {
                    <td class="text-center">@Html.ActionLink(item.Kod, "Edit", new { item.PriceID })</td>
                    }
                    else
                    {
                        <td class="text-center">@item.Kod</td>
                    }
                    <td class="text-left">@item.Title</td>
                    <td class="text-center">@item.Cost</td>
                    <td class="text-center">@item.CostR</td>
                    @if (User.IsInRole("Administrators")) {
                        if (item.IsActive) {
                    <td class="text-center">@Html.ActionLink("Удалить", "Delete", new { item.PriceID }, new { @class = "btn btn-warning" }) </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>

</div>
